body {
  font-family: sans-serif;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #222;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hidden {
  display: none;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px;
  border: none;
  background: #4ecdc4;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
}

a {
  color: #4ecdc4;
  cursor: pointer;
}