body {
  background-color: #1e272e;
  font-family: sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #ffffff;
}

.container {
  background: #2f3640;
  padding: 20px;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px;
  background-color: #4ecdc4;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

a {
  color: #00EBFF;
  cursor: pointer;
}