.search {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.search input {
  background-color: var(--search-bg);
  border: none;
  font-size: 16px;
  color: var(--search-text);
  padding: 10px 15px;
  width: 100%;
  max-width: 400px;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s;
}

.search .btn {
  background: none;
  border: none;
  margin-left: -40px;
  cursor: pointer;
  color: var(--search-icon);
  font-size: 1.2rem;
}

#results {
  list-style: none;
  padding: 1rem;
}

#results li {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--accent-color);
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #00796b;
  --search-bg: #00EBFF;
  --search-text: #1e272e;
  --search-icon: #1e272e;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f5f5f5;
  --accent-color: #80cbc4;
  --search-bg: #ffffff;
  --search-text: #000000;
  --search-icon: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
  padding-bottom: 60px; /* Для нижней навигации */
  transition: background-color 0.3s, color 0.3s;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--bg-color);
  border-top: 1px solid var(--accent-color);
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.bottom-nav a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
} 