/* Amiri Quran */
@font-face {
  font-family: 'Amiri Quran';
  src: url('@/assets/fonts/amiri-quran.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

/* Inter (через CDN) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
